@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thisButton{
  @apply 
  text-xs 
  text-zinc-200
  dark:text-zinc-400 
  md:text-base
  py-3
  px-5
  rounded-xl
  bg-sky-500
  dark:bg-sky-800
  transition-all ease-out duration-300
  relative
  overflow-hidden
  z-[1]
  shadow-[0_5px_15px_-7.5px_black]
  ;
}

.thisButton:before{
  @apply 
  transition-transform ease-out-sine duration-500
  bg-zinc-900 bg-opacity-20 dark:bg-opacity-20 dark:bg-zinc-400;
  content:'';
  height:100%;
  z-index:-1;
  width:100%;
  top:0;
  left:0;
  position:absolute;
  transform: scale(0,1) ;
  transform-origin:right;
}

.thisButton:hover:before {
  transform-origin:left;
  transform: scale(1,1);
  width:100%;
}

.thisNeo{
  @apply shadow-[inset_5px_5px_15px_#b2b2b5,_inset_-5px_-5px_15px_#f6f6fb]
    dark:shadow-[inset_5px_5px_15px_#101010,_inset_-5px_-5px_15px_#232328];
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.thisEffect{
  @apply relative z-[1]
  shadow-[0_5px_15px_-7.5px_black]
  text-zinc-200
  dark:text-zinc-400 
  ;
}

.thisEffect:before{
  @apply 
  transition-transform ease-out-sine duration-500
  bg-zinc-900 bg-opacity-20 dark:bg-opacity-20 dark:bg-zinc-400;
  content:'';
  height:100%;
  z-index:-1;
  width:100%;
  top:0;
  left:0;
  position:absolute;
  transform: scale(0,1) ;
  transform-origin:right;
}

.thisEffect:hover:before {
  transform-origin:left;
  transform: scale(1,1);
  width:100%;
}
